# コード品質について

testable なコード記述を心がけてください

pytest, pytest-cov をインストールしてあります. コード記述の後には,
基本的にコードカバレッジを100%を目指したテストコードを用意してください.

100%のカバレッジを確保できない場合は, "# pragma: no cover" などのコメントでそれを示してください.

ruff, isort, black, mypy をインストールしてあります.
作業完了前に必ずこれらのツールを用いて, コードの点検と整形を行ってください.

# poetry

プロジェクト管理にpoetry を用いています.

パッケージ追加が必要なときには, `poetry add` コマンドを使ってください.
pyproject.toml を直接編集しないでください.
